@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flex-box {
  display: flex;
  width: 50vw;
  flex-direction: column;
}

.hidden {
  display: none;
}

.clock {
  font-size: 1000%;
  color: white;
  align-self: center;
  margin: 100px 0px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#weather {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

input::placeholder {
  color: white;
  font-size: 25px;
}

input:focus::placeholder {
  content-visibility: hidden;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 100%;
  font-size: 25px;
  padding: 15px 5px;
  margin-bottom: 20px;
  text-align: center;
}

#greeting {
  color: white;
  margin-bottom: 26px;
  font-size: 25px;
  padding: 15px 5px;
  align-self: center;
}

img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

i {
  color: red;
  cursor: pointer;
  font-size: 20px;
}

#quote:hover {
  transform: translateY(-10px);
}

#quote {
  position: absolute;
  bottom: 60px;
  color: white;
  font-size: 17px;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#todo-list li span {
  color: white;
  font-size: 20px;
}
